backend/node_modules/
frontend/node_modules/
frontend/dist/
.vercel/
.env
.env.local
.env.*.local
backend/data/*
!backend/data/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
